@mixin flex($justify, $align) {
  display: flex;
  justify-content: $justify;
  align-items: $align;
}

@mixin grid($min) {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax($min, 1fr));
}