// -- Fonts --

$headingFont: 'Red Hat Display', sans-serif;
$textFont: 'Roboto', sans-serif;

// -- Colors --

$white: #ffffff;
$greyLight: #eeeeee;
$greyMedium: #797979;
$greyDark: #252525;
$black: #000000;

$primaryLight: #ffdb39;
$primary: #ffc100;
$primaryDark: rgb(223, 163, 12);

$accentLight: #778dcf;
$accent: #4261bd;
$accentDark: #2a3e79;

$colorShadow: rgba(31, 31, 31, 0.247);

// Responsive BreakPoints

$large: 1200px;
$medium: 900px;
$small: 600px;
