// Reset css

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: none;
  list-style: none;
  text-decoration: none;
  color: inherit;
  -webkit-tap-highlight-color: transparent;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: calc($headerHeight);
  -webkit-font-smoothing: antialiased;
  text-size-adjust: 100%;
  text-rendering: optimizeLegibility;

  &::-webkit-scrollbar {
    width: 1rem;
  }
  &::-webkit-scrollbar-track {
    background: $greyLight;
  }
  &::-webkit-scrollbar-thumb {
    background: $greyMedium;
    border-radius: 0.5rem;
  }
}

body {
  position: relative;
}
