// Fonts

body {
  font-family: $textFont;
  font-size: 1rem;
  color: $black;
}

h1 {
  font-family: $headingFont;
  font-size: 3rem;
}

h2 {
  text-align: center;
}

p {
  line-height: 1.4;
  color: $greyMedium;
}

input {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
}
