body {
  @include flex;
  min-height: 100vh;
  background: #ffefba; /* fallback for old browsers */
  background: linear-gradient(20deg, #ffffff -5%, #ffeea4 200%);
}

.app {
  min-width: 400px;
  min-height: 500px;
  padding: 25px;
  border-radius: 15px;
  background-color: $greyLight;
  box-shadow: 3px 3px 25px -8px $colorShadow;
}

input {
  flex: 1;
  height: 25px;
  padding: 15px;
  border-radius: 30px;
  border: 1px solid $greyMedium;
  outline: none;
  &:focus {
    border: 2px solid $greyMedium;
  }
}

i {
  margin-left: 20px;
  font-size: 1.1rem;
  color: $greyDark;
  cursor: pointer;

  &:hover {
    color: $greyMedium;
  }
}

.todo-add {
  @include flex;
  height: 25px;
  margin: 30px 0;

  button {
    border: none;
    background-color: transparent;
  }
}

.task {
  @include flex(start);
  margin-bottom: 10px;
  height: 25px;

  &__toggle-finish {
    @include flex;
    flex-shrink: 0;
    height: 25px;
    width: 25px;
    margin-right: 10px;
    border-radius: 25px;
    border: 1px solid $greyDark;
    cursor: pointer;

    &:hover {
      background-color: darken($greyLight, 10%);
    }

    & > i {
      margin: 0;
      font-size: 1rem;
      color: rgb(38, 94, 38);
      display: none;
    }
  }

  &__text {
    flex: 1;
    user-select: none;
  }
}
